name: Python Lint, Format & Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: 0.7.5

      - name: Cache virtual environment
        id: restore-cache
        uses: actions/cache@v4
        with:
          path: ./.venv
          key: ${{ runner.os }}-venv-${{ hashFiles('**/pyproject.toml') }}

      - name: Download dependencies
        run: |
          uv sync
        if: steps.restore-cache.outputs.cache-hit != 'true'

      - name: Format with ruff
        run: |
          source .venv/bin/activate
          ruff format --check .

      - name: Lint with ruff
        run: |
          source .venv/bin/activate
          ruff check .

      - name: Test with pytest
        run: |
          source .venv/bin/activate
          pytest -v
      - name: Check complexity with xenon and radon
        run: |
          source .venv/bin/activate
          xenon --max-absolute B --max-average A .
